/* Admin Dashboard Container */
.admin-dashboard {
  display: flex;
  background-color: #f0f0f0;
  min-height: 100vh;
  font-family: "customfont3";
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 100vh;
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #ffc107; /* Yellow color on hover */
}

/* Main Content Styles */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Section Styles */
.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

/* Website Details Table Styles */
.website-details table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.website-details th, .website-details td {
  padding: 15px;
  border-bottom: 1px solid black;
}

.website-details th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.website-details td {
  color: #555;
}

/* Feedback Styles */
.feedback-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.feedback-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-header h3 {
  margin: 0;
  font-size: 20px;
}

.feedback-header span {
  font-size: 16px;
  color: #888;
}

.feedback-content {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}
.sssi
{
  color: red;
}