/* Chart.css */
.chart-container {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 100px;
    font-family: "customfont3";
}
.back-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
.back-buttonx
{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
  
}  