/* dashboardcontent_modified.css */
.dashboard-content-container {
  margin: 20px auto;
  max-width: 1200px;
  font-family: "customfont3";
}

.dashboard-back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.dashboard-back-button:hover {
  background-color: #0056b3;
}

.dashboard-content-wrapper {
  display: flex;
  flex-wrap: wrap; /* Added to wrap items */
  justify-content: space-between;
}

.dashboard-card {
  flex-basis: calc(50% - 20px);
  background-color: rgb(232, 224, 218);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
}

.dashboard-card h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.dashboard-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.dashboard-service-info {
  display: flex;
  justify-content: space-between;
}

.dashboard-info {
  flex-basis: calc(33.33% - 10px);
  text-align: center;
}

.dashboard-info h4 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.dashboard-info span {
  color: #007bff;
  font-weight: bold;
}

.dashboard-section {
  flex-basis: 100%;
  margin-top: 40px; /* Added margin between sections */

}

.dashboard-user-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  background-color: rgb(232, 224, 218);
}

.dashboard-user-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-user-table th,
.dashboard-user-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.dashboard-edit-button,
.dashboard-delete-button {
  padding: 8px 16px;
  margin-right: 10px;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard-edit-button {
  background-color: #28a745;
}

.dashboard-delete-button {
  background-color: #dc3545;
}

.dashboard-edit-button:hover,
.dashboard-delete-button:hover {
  opacity: 0.8;
}
