.payment-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color:rgb(238, 228, 219);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  font-family:"customfont3";
}

.payment-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-size: 24px;
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 16px;
  color: #333;
  font-weight: bold;

}

.form-group input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  position: relative;
}

.form-group-inline {
  display: flex;
  justify-content: space-between;
}

.form-group-inline input {
  width: calc(50% - 10px);
}

.pay-button {
  padding: 12px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pay-button:hover {
  background-color: #0056b3;
}
